<a href="https://colab.research.google.com/github/00akram/Python-Basics/blob/main/Assignment_on_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
from google.colab import files

In [5]:
files.upload()#Uploadig insurance dataset for encodig.

Saving insurance.csv - insurance.csv.csv to insurance.csv - insurance.csv.csv

{'insurance.csv - insurance.csv.csv': b'age,sex,bmi,children,smoker,region,charges\r\n19,female,27.9,0,yes,southwest,16884.924\r\n18,male,33.77,1,no,southeast,1725.5523\r\n28,male,33,3,no,southeast,4449.462\r\n33,male,22.705,0,no,northwest,21984.47061\r\n32,male,28.88,0,no,northwest,3866.8552\r\n31,female,25.74,0,no,southeast,3756.6216\r\n46,female,33.44,1,no,southeast,8240.5896\r\n37,female,27.74,3,no,northwest,7281.5056\r\n37,male,29.83,2,no,northeast,6406.4107\r\n60,female,25.84,0,no,northwest,28923.13692\r\n25,male,26.22,0,no,northeast,2721.3208\r\n62,female,26.29,0,yes,southeast,27808.7251\r\n23,male,34.4,0,no,southwest,1826.843\r\n56,female,39.82,0,no,southeast,11090.7178\r\n27,male,42.13,0,yes,southeast,39611.7577\r\n19,male,24.6,1,no,southwest,1837.237\r\n52,female,30.78,1,no,northeast,10797.3362\r\n23,male,23.845,0,no,northeast,2395.17155\r\n56,male,40.3,0,no,southwest,10602.385\r\n30,male,35.3,0,yes,southwest,36837.467\r\n60,female,36.005,0,no,northeast,13228.84695\r\n30,female,32.4,1,no,southwest,4149.736\r\n18,male,34.1,0,no,southeast,1137.011\r\n34,female,31.92,1,yes,northeast,37701.8768\r\n37,male,28.025,2,no,northwest,6203.90175\r\n59,female,27.72,3,no,southeast,14001.1338\r\n63,female,23.085,0,no,northeast,14451.83515\r\n55,female,32.775,2,no,northwest,12268.63225\r\n23,male,17.385,1,no,northwest,2775.19215\r\n31,male,36.3,2,yes,southwest,38711\r\n22,male,35.6,0,yes,southwest,35585.576\r\n18,female,26.315,0,no,northeast,2198.18985\r\n19,female,28.6,5,no,southwest,4687.797\r\n63,male,28.31,0,no,northwest,13770.0979\r\n28,male,36.4,1,yes,southwest,51194.55914\r\n19,male,20.425,0,no,northwest,1625.43375\r\n62,female,32.965,3,no,northwest,15612.19335\r\n26,male,20.8,0,no,southwest,2302.3\r\n35,male,36.67,1,yes,northeast,39774.2763\r\n60,male,39.9,0,yes,southwest,48173.361\r\n24,female,26.6,0,no,northeast,3046.062\r\n31,female,36.63,2,no,southeast,4949.7587\r\n41,male,21.78,1,no,southeast,6272.4772\r\n37,female,30.8,2,no,southeast,6313.759\r\n38,male,37.05,1,no,northeast,6079.6715\r\n55,male,37.3,0,no,southwest,20630.28351\r\n18,female,38.665,2,no,northeast,3393.35635\r\n28,female,34.77,0,no,northwest,3556.9223\r\n60,female,24.53,0,no,southeast,12629.8967\r\n36,male,35.2,1,yes,southeast,38709.176\r\n18,female,35.625,0,no,northeast,2211.13075\r\n21,female,33.63,2,no,northwest,3579.8287\r\n48,male,28,1,yes,southwest,23568.272\r\n36,male,34.43,0,yes,southeast,37742.5757\r\n40,female,28.69,3,no,northwest,8059.6791\r\n58,male,36.955,2,yes,northwest,47496.49445\r\n58,female,31.825,2,no,northeast,13607.36875\r\n18,male,31.68,2,yes,southeast,34303.1672\r\n53,female,22.88,1,yes,southeast,23244.7902\r\n34,female,37.335,2,no,northwest,5989.52365\r\n43,male,27.36,3,no,northeast,8606.2174\r\n25,male,33.66,4,no,southeast,4504.6624\r\n64,male,24.7,1,no,northwest,30166.61817\r\n28,female,25.935,1,no,northwest,4133.64165\r\n20,female,22.42,0,yes,northwest,14711.7438\r\n19,female,28.9,0,no,southwest,1743.214\r\n61,female,39.1,2,no,southwest,14235.072\r\n40,male,26.315,1,no,northwest,6389.37785\r\n40,female,36.19,0,no,southeast,5920.1041\r\n28,male,23.98,3,yes,southeast,17663.1442\r\n27,female,24.75,0,yes,southeast,16577.7795\r\n31,male,28.5,5,no,northeast,6799.458\r\n53,female,28.1,3,no,southwest,11741.726\r\n58,male,32.01,1,no,southeast,11946.6259\r\n44,male,27.4,2,no,southwest,7726.854\r\n57,male,34.01,0,no,northwest,11356.6609\r\n29,female,29.59,1,no,southeast,3947.4131\r\n21,male,35.53,0,no,southeast,1532.4697\r\n22,female,39.805,0,no,northeast,2755.02095\r\n41,female,32.965,0,no,northwest,6571.02435\r\n31,male,26.885,1,no,northeast,4441.21315\r\n45,female,38.285,0,no,northeast,7935.29115\r\n22,male,37.62,1,yes,southeast,37165.1638\r\n48,female,41.23,4,no,northwest,11033.6617\r\n37,female,34.8,2,yes,southwest,39836.519\r\n45,male,22.895,2,yes,northwest,21098.55405\r\n57,female,31.16,0,yes,northwest,43578.9394\r\n56,female,27.2,0,no,southwest,11073.176\r\n46,female,27.74,0,no,northwest,8026.6666\r\n55,female,26.98,0,no,northwest,11082.5772\r\n21,female,39.49,0,no,southeast,2026.9741\r\n53,female,24.795,1,no,northwest,10942.13205\r\n59,male,29.83,3,yes,northeast,30184.9367\r\n35,male,34.77,2,no,northwest,5729.0053\r\n64,female,31.3,2,yes,southwest,47291.055\r\n28,female,37.62,1,no,southeast,3766.8838\r\n54,female,30.8,3,no,southwest,12105.32\r\n55,male,38.28,0,no,southeast,10226.2842\r\n56,male,19.95,0,yes,northeast,22412.6485\r\n38,male,19.3,0,yes,southwest,15820.699\r\n41,female,31.6,0,no,southwest,6186.127\r\n30,male,25.46,0,no,northeast,3645.0894\r\n18,female,30.115,0,no,northeast,21344.8467\r\n61,female,29.92,3,yes,southeast,30942.1918\r\n34,female,27.5,1,no,southwest,5003.853\r\n20,male,28.025,1,yes,northwest,17560.37975\r\n19,female,28.4,1,no,southwest,2331.519\r\n26,male,30.875,2,no,northwest,3877.30425\r\n29,male,27.94,0,no,southeast,2867.1196\r\n63,male,35.09,0,yes,southeast,47055.5321\r\n54,male,33.63,1,no,northwest,10825.2537\r\n55,female,29.7,2,no,southwest,11881.358\r\n37,male,30.8,0,no,southwest,4646.759\r\n21,female,35.72,0,no,northwest,2404.7338\r\n52,male,32.205,3,no,northeast,11488.31695\r\n60,male,28.595,0,no,northeast,30259.99556\r\n58,male,49.06,0,no,southeast,11381.3254\r\n29,female,27.94,1,yes,southeast,19107.7796\r\n49,female,27.17,0,no,southeast,8601.3293\r\n37,female,23.37,2,no,northwest,6686.4313\r\n44,male,37.1,2,no,southwest,7740.337\r\n18,male,23.75,0,no,northeast,1705.6245\r\n20,female,28.975,0,no,northwest,2257.47525\r\n44,male,31.35,1,yes,northeast,39556.4945\r\n47,female,33.915,3,no,northwest,10115.00885\r\n26,female,28.785,0,no,northeast,3385.39915\r\n19,female,28.3,0,yes,southwest,17081.08\r\n52,female,37.4,0,no,southwest,9634.538\r\n32,female,17.765,2,yes,northwest,32734.1863\r\n38,male,34.7,2,no,southwest,6082.405\r\n59,female,26.505,0,no,northeast,12815.44495\r\n61,female,22.04,0,no,northeast,13616.3586\r\n53,female,35.9,2,no,southwest,11163.568\r\n19,male,25.555,0,no,northwest,1632.56445\r\n20,female,28.785,0,no,northeast,2457.21115\r\n22,female,28.05,0,no,southeast,2155.6815\r\n19,male,34.1,0,no,southwest,1261.442\r\n22,male,25.175,0,no,northwest,2045.68525\r\n54,female,31.9,3,no,southeast,27322.73386\r\n22,female,36,0,no,southwest,2166.732\r\n34,male,22.42,2,no,northeast,27375.90478\r\n26,male,32.49,1,no,northeast,3490.5491\r\n34,male,25.3,2,yes,southeast,18972.495\r\n29,male,29.735,2,no,northwest,18157.876\r\n30,male,28.69,3,yes,northwest,20745.9891\r\n29,female,38.83,3,no,southeast,5138.2567\r\n46,male,30.495,3,yes,northwest,40720.55105\r\n51,female,37.73,1,no,southeast,9877.6077\r\n53,female,37.43,1,no,northwest,10959.6947\r\n19,male,28.4,1,no,southwest,1842.519\r\n35,male,24.13,1,no,northwest,5125.2157\r\n48,male,29.7,0,no,southeast,7789.635\r\n32,female,37.145,3,no,northeast,6334.34355\r\n42,female,23.37,0,yes,northeast,19964.7463\r\n40,female,25.46,1,no,northeast,7077.1894\r\n44,male,39.52,0,no,northwest,6948.7008\r\n48,male,24.42,0,yes,southeast,21223.6758\r\n18,male,25.175,0,yes,northeast,15518.18025\r\n30,male,35.53,0,yes,southeast,36950.2567\r\n50,female,27.83,3,no,southeast,19749.38338\r\n42,female,26.6,0,yes,northwest,21348.706\r\n18,female,36.85,0,yes,southeast,36149.4835\r\n54,male,39.6,1,no,southwest,10450.552\r\n32,female,29.8,2,no,southwest,5152.134\r\n37,male,29.64,0,no,northwest,5028.1466\r\n47,male,28.215,4,no,northeast,10407.08585\r\n20,female,37,5,no,southwest,4830.63\r\n32,female,33.155,3,no,northwest,6128.79745\r\n19,female,31.825,1,no,northwest,2719.27975\r\n27,male,18.905,3,no,northeast,4827.90495\r\n63,male,41.47,0,no,southeast,13405.3903\r\n49,male,30.3,0,no,southwest,8116.68\r\n18,male,15.96,0,no,northeast,1694.7964\r\n35,female,34.8,1,no,southwest,5246.047\r\n24,female,33.345,0,no,northwest,2855.43755\r\n63,female,37.7,0,yes,southwest,48824.45\r\n38,male,27.835,2,no,northwest,6455.86265\r\n54,male,29.2,1,no,southwest,10436.096\r\n46,female,28.9,2,no,southwest,8823.279\r\n41,female,33.155,3,no,northeast,8538.28845\r\n58,male,28.595,0,no,northwest,11735.87905\r\n18,female,38.28,0,no,southeast,1631.8212\r\n22,male,19.95,3,no,northeast,4005.4225\r\n44,female,26.41,0,no,northwest,7419.4779\r\n44,male,30.69,2,no,southeast,7731.4271\r\n36,male,41.895,3,yes,northeast,43753.33705\r\n26,female,29.92,2,no,southeast,3981.9768\r\n30,female,30.9,3,no,southwest,5325.651\r\n41,female,32.2,1,no,southwest,6775.961\r\n29,female,32.11,2,no,northwest,4922.9159\r\n61,male,31.57,0,no,southeast,12557.6053\r\n36,female,26.2,0,no,southwest,4883.866\r\n25,male,25.74,0,no,southeast,2137.6536\r\n56,female,26.6,1,no,northwest,12044.342\r\n18,male,34.43,0,no,southeast,1137.4697\r\n19,male,30.59,0,no,northwest,1639.5631\r\n39,female,32.8,0,no,southwest,5649.715\r\n45,female,28.6,2,no,southeast,8516.829\r\n51,female,18.05,0,no,northwest,9644.2525\r\n64,female,39.33,0,no,northeast,14901.5167\r\n19,female,32.11,0,no,northwest,2130.6759\r\n48,female,32.23,1,no,southeast,8871.1517\r\n60,female,24.035,0,no,northwest,13012.20865\r\n27,female,36.08,0,yes,southeast,37133.8982\r\n46,male,22.3,0,no,southwest,7147.105\r\n28,female,28.88,1,no,northeast,4337.7352\r\n59,male,26.4,0,no,southeast,11743.299\r\n35,male,27.74,2,yes,northeast,20984.0936\r\n63,female,31.8,0,no,southwest,13880.949\r\n40,male,41.23,1,no,northeast,6610.1097\r\n20,male,33,1,no,southwest,1980.07\r\n40,male,30.875,4,no,northwest,8162.71625\r\n24,male,28.5,2,no,northwest,3537.703\r\n34,female,26.73,1,no,southeast,5002.7827\r\n45,female,30.9,2,no,southwest,8520.026\r\n41,female,37.1,2,no,southwest,7371.772\r\n53,female,26.6,0,no,northwest,10355.641\r\n27,male,23.1,0,no,southeast,2483.736\r\n26,female,29.92,1,no,southeast,3392.9768\r\n24,female,23.21,0,no,southeast,25081.76784\r\n34,female,33.7,1,no,southwest,5012.471\r\n53,female,33.25,0,no,northeast,10564.8845\r\n32,male,30.8,3,no,southwest,5253.524\r\n19,male,34.8,0,yes,southwest,34779.615\r\n42,male,24.64,0,yes,southeast,19515.5416\r\n55,male,33.88,3,no,southeast,11987.1682\r\n28,male,38.06,0,no,southeast,2689.4954\r\n58,female,41.91,0,no,southeast,24227.33724\r\n41,female,31.635,1,no,northeast,7358.17565\r\n47,male,25.46,2,no,northeast,9225.2564\r\n42,female,36.195,1,no,northwest,7443.64305\r\n59,female,27.83,3,no,southeast,14001.2867\r\n19,female,17.8,0,no,southwest,1727.785\r\n59,male,27.5,1,no,southwest,12333.828\r\n39,male,24.51,2,no,northwest,6710.1919\r\n40,female,22.22,2,yes,southeast,19444.2658\r\n18,female,26.73,0,no,southeast,1615.7667\r\n31,male,38.39,2,no,southeast,4463.2051\r\n19,male,29.07,0,yes,northwest,17352.6803\r\n44,male,38.06,1,no,southeast,7152.6714\r\n23,female,36.67,2,yes,northeast,38511.6283\r\n33,female,22.135,1,no,northeast,5354.07465\r\n55,female,26.8,1,no,southwest,35160.13457\r\n40,male,35.3,3,no,southwest,7196.867\r\n63,female,27.74,0,yes,northeast,29523.1656\r\n54,male,30.02,0,no,northwest,24476.47851\r\n60,female,38.06,0,no,southeast,12648.7034\r\n24,male,35.86,0,no,southeast,1986.9334\r\n19,male,20.9,1,no,southwest,1832.094\r\n29,male,28.975,1,no,northeast,4040.55825\r\n18,male,17.29,2,yes,northeast,12829.4551\r\n63,female,32.2,2,yes,southwest,47305.305\r\n54,male,34.21,2,yes,southeast,44260.7499\r\n27,male,30.3,3,no,southwest,4260.744\r\n50,male,31.825,0,yes,northeast,41097.16175\r\n55,female,25.365,3,no,northeast,13047.33235\r\n56,male,33.63,0,yes,northwest,43921.1837\r\n38,female,40.15,0,no,southeast,5400.9805\r\n51,male,24.415,4,no,northwest,11520.09985\r\n19,male,31.92,0,yes,northwest,33750.2918\r\n58,female,25.2,0,no,southwest,11837.16\r\n20,female,26.84,1,yes,southeast,17085.2676\r\n52,male,24.32,3,yes,northeast,24869.8368\r\n19,male,36.955,0,yes,northwest,36219.40545\r\n53,female,38.06,3,no,southeast,20462.99766\r\n46,male,42.35,3,yes,southeast,46151.1245\r\n40,male,19.8,1,yes,southeast,17179.522\r\n59,female,32.395,3,no,northeast,14590.63205\r\n45,male,30.2,1,no,southwest,7441.053\r\n49,male,25.84,1,no,northeast,9282.4806\r\n18,male,29.37,1,no,southeast,1719.4363\r\n50,male,34.2,2,yes,southwest,42856.838\r\n41,male,37.05,2,no,northwest,7265.7025\r\n50,male,27.455,1,no,northeast,9617.66245\r\n25,male,27.55,0,no,northwest,2523.1695\r\n47,female,26.6,2,no,northeast,9715.841\r\n19,male,20.615,2,no,northwest,2803.69785\r\n22,female,24.3,0,no,southwest,2150.469\r\n59,male,31.79,2,no,southeast,12928.7911\r\n51,female,21.56,1,no,southeast,9855.1314\r\n40,female,28.12,1,yes,northeast,22331.5668\r\n54,male,40.565,3,yes,northeast,48549.17835\r\n30,male,27.645,1,no,northeast,4237.12655\r\n55,female,32.395,1,no,northeast,11879.10405\r\n52,female,31.2,0,no,southwest,9625.92\r\n46,male,26.62,1,no,southeast,7742.1098\r\n46,female,48.07,2,no,northeast,9432.9253\r\n63,female,26.22,0,no,northwest,14256.1928\r\n59,female,36.765,1,yes,northeast,47896.79135\r\n52,male,26.4,3,no,southeast,25992.82104\r\n28,female,33.4,0,no,southwest,3172.018\r\n29,male,29.64,1,no,northeast,20277.80751\r\n25,male,45.54,2,yes,southeast,42112.2356\r\n22,female,28.82,0,no,southeast,2156.7518\r\n25,male,26.8,3,no,southwest,3906.127\r\n18,male,22.99,0,no,northeast,1704.5681\r\n19,male,27.7,0,yes,southwest,16297.846\r\n47,male,25.41,1,yes,southeast,21978.6769\r\n31,male,34.39,3,yes,northwest,38746.3551\r\n48,female,28.88,1,no,northwest,9249.4952\r\n36,male,27.55,3,no,northeast,6746.7425\r\n53,female,22.61,3,yes,northeast,24873.3849\r\n56,female,37.51,2,no,southeast,12265.5069\r\n28,female,33,2,no,southeast,4349.462\r\n57,female,38,2,no,southwest,12646.207\r\n29,male,33.345,2,no,northwest,19442.3535\r\n28,female,27.5,2,no,southwest,20177.67113\r\n30,female,33.33,1,no,southeast,4151.0287\r\n58,male,34.865,0,no,northeast,11944.59435\r\n41,female,33.06,2,no,northwest,7749.1564\r\n50,male,26.6,0,no,southwest,8444.474\r\n19,female,24.7,0,no,southwest,1737.376\r\n43,male,35.97,3,yes,southeast,42124.5153\r\n49,male,35.86,0,no,southeast,8124.4084\r\n27,female,31.4,0,yes,southwest,34838.873\r\n52,male,33.25,0,no,northeast,9722.7695\r\n50,male,32.205,0,no,northwest,8835.26495\r\n54,male,32.775,0,no,northeast,10435.06525\r\n44,female,27.645,0,no,northwest,7421.19455\r\n32,male,37.335,1,no,northeast,4667.60765\r\n34,male,25.27,1,no,northwest,4894.7533\r\n26,female,29.64,4,no,northeast,24671.66334\r\n34,male,30.8,0,yes,southwest,35491.64\r\n57,male,40.945,0,no,northeast,11566.30055\r\n29,male,27.2,0,no,southwest,2866.091\r\n40,male,34.105,1,no,northeast,6600.20595\r\n27,female,23.21,1,no,southeast,3561.8889\r\n45,male,36.48,2,yes,northwest,42760.5022\r\n64,female,33.8,1,yes,southwest,47928.03\r\n52,male,36.7,0,no,southwest,9144.565\r\n61,female,36.385,1,yes,northeast,48517.56315\r\n52,male,27.36,0,yes,northwest,24393.6224\r\n61,female,31.16,0,no,northwest,13429.0354\r\n56,female,28.785,0,no,northeast,11658.37915\r\n43,female,35.72,2,no,northeast,19144.57652\r\n64,male,34.5,0,no,southwest,13822.803\r\n60,male,25.74,0,no,southeast,12142.5786\r\n62,male,27.55,1,no,northwest,13937.6665\r\n50,male,32.3,1,yes,northeast,41919.097\r\n46,female,27.72,1,no,southeast,8232.6388\r\n24,female,27.6,0,no,southwest,18955.22017\r\n62,male,30.02,0,no,northwest,13352.0998\r\n60,female,27.55,0,no,northeast,13217.0945\r\n63,male,36.765,0,no,northeast,13981.85035\r\n49,female,41.47,4,no,southeast,10977.2063\r\n34,female,29.26,3,no,southeast,6184.2994\r\n33,male,35.75,2,no,southeast,4889.9995\r\n46,male,33.345,1,no,northeast,8334.45755\r\n36,female,29.92,1,no,southeast,5478.0368\r\n19,male,27.835,0,no,northwest,1635.73365\r\n57,female,23.18,0,no,northwest,11830.6072\r\n50,female,25.6,0,no,southwest,8932.084\r\n30,female,27.7,0,no,southwest,3554.203\r\n33,male,35.245,0,no,northeast,12404.8791\r\n18,female,38.28,0,no,southeast,14133.03775\r\n46,male,27.6,0,no,southwest,24603.04837\r\n46,male,43.89,3,no,southeast,8944.1151\r\n47,male,29.83,3,no,northwest,9620.3307\r\n23,male,41.91,0,no,southeast,1837.2819\r\n18,female,20.79,0,no,southeast,1607.5101\r\n48,female,32.3,2,no,northeast,10043.249\r\n35,male,30.5,1,no,southwest,4751.07\r\n19,female,21.7,0,yes,southwest,13844.506\r\n21,female,26.4,1,no,southwest,2597.779\r\n21,female,21.89,2,no,southeast,3180.5101\r\n49,female,30.78,1,no,northeast,9778.3472\r\n56,female,32.3,3,no,northeast,13430.265\r\n42,female,24.985,2,no,northwest,8017.06115\r\n44,male,32.015,2,no,northwest,8116.26885\r\n18,male,30.4,3,no,northeast,3481.868\r\n61,female,21.09,0,no,northwest,13415.0381\r\n57,female,22.23,0,no,northeast,12029.2867\r\n42,female,33.155,1,no,northeast,7639.41745\r\n26,male,32.9,2,yes,southwest,36085.219\r\n20,male,33.33,0,no,southeast,1391.5287\r\n23,female,28.31,0,yes,northwest,18033.9679\r\n39,female,24.89,3,yes,northeast,21659.9301\r\n24,male,40.15,0,yes,southeast,38126.2465\r\n64,female,30.115,3,no,northwest,16455.70785\r\n62,male,31.46,1,no,southeast,27000.98473\r\n27,female,17.955,2,yes,northeast,15006.57945\r\n55,male,30.685,0,yes,northeast,42303.69215\r\n55,male,33,0,no,southeast,20781.48892\r\n35,female,43.34,2,no,southeast,5846.9176\r\n44,male,22.135,2,no,northeast,8302.53565\r\n19,male,34.4,0,no,southwest,1261.859\r\n58,female,39.05,0,no,southeast,11856.4115\r\n50,male,25.365,2,no,northwest,30284.64294\r\n26,female,22.61,0,no,northwest,3176.8159\r\n24,female,30.21,3,no,northwest,4618.0799\r\n48,male,35.625,4,no,northeast,10736.87075\r\n19,female,37.43,0,no,northwest,2138.0707\r\n48,male,31.445,1,no,northeast,8964.06055\r\n49,male,31.35,1,no,northeast,9290.1395\r\n46,female,32.3,2,no,northeast,9411.005\r\n46,male,19.855,0,no,northwest,7526.70645\r\n43,female,34.4,3,no,southwest,8522.003\r\n21,male,31.02,0,no,southeast,16586.49771\r\n64,male,25.6,2,no,southwest,14988.432\r\n18,female,38.17,0,no,southeast,1631.6683\r\n51,female,20.6,0,no,southwest,9264.797\r\n47,male,47.52,1,no,southeast,8083.9198\r\n64,female,32.965,0,no,northwest,14692.66935\r\n49,male,32.3,3,no,northwest,10269.46\r\n31,male,20.4,0,no,southwest,3260.199\r\n52,female,38.38,2,no,northeast,11396.9002\r\n33,female,24.31,0,no,southeast,4185.0979\r\n47,female,23.6,1,no,southwest,8539.671\r\n38,male,21.12,3,no,southeast,6652.5288\r\n32,male,30.03,1,no,southeast,4074.4537\r\n19,male,17.48,0,no,northwest,1621.3402\r\n44,female,20.235,1,yes,northeast,19594.80965\r\n26,female,17.195,2,yes,northeast,14455.64405\r\n25,male,23.9,5,no,southwest,5080.096\r\n19,female,35.15,0,no,northwest,2134.9015\r\n43,female,35.64,1,no,southeast,7345.7266\r\n52,male,34.1,0,no,southeast,9140.951\r\n36,female,22.6,2,yes,southwest,18608.262\r\n64,male,39.16,1,no,southeast,14418.2804\r\n63,female,26.98,0,yes,northwest,28950.4692\r\n64,male,33.88,0,yes,southeast,46889.2612\r\n61,male,35.86,0,yes,southeast,46599.1084\r\n40,male,32.775,1,yes,northeast,39125.33225\r\n25,male,30.59,0,no,northeast,2727.3951\r\n48,male,30.2,2,no,southwest,8968.33\r\n45,male,24.31,5,no,southeast,9788.8659\r\n38,female,27.265,1,no,northeast,6555.07035\r\n18,female,29.165,0,no,northeast,7323.734819\r\n21,female,16.815,1,no,northeast,3167.45585\r\n27,female,30.4,3,no,northwest,18804.7524\r\n19,male,33.1,0,no,southwest,23082.95533\r\n29,female,20.235,2,no,northwest,4906.40965\r\n42,male,26.9,0,no,southwest,5969.723\r\n60,female,30.5,0,no,southwest,12638.195\r\n31,male,28.595,1,no,northwest,4243.59005\r\n60,male,33.11,3,no,southeast,13919.8229\r\n22,male,31.73,0,no,northeast,2254.7967\r\n35,male,28.9,3,no,southwest,5926.846\r\n52,female,46.75,5,no,southeast,12592.5345\r\n26,male,29.45,0,no,northeast,2897.3235\r\n31,female,32.68,1,no,northwest,4738.2682\r\n33,female,33.5,0,yes,southwest,37079.372\r\n18,male,43.01,0,no,southeast,1149.3959\r\n59,female,36.52,1,no,southeast,28287.89766\r\n56,male,26.695,1,yes,northwest,26109.32905\r\n45,female,33.1,0,no,southwest,7345.084\r\n60,male,29.64,0,no,northeast,12730.9996\r\n56,female,25.65,0,no,northwest,11454.0215\r\n40,female,29.6,0,no,southwest,5910.944\r\n35,male,38.6,1,no,southwest,4762.329\r\n39,male,29.6,4,no,southwest,7512.267\r\n30,male,24.13,1,no,northwest,4032.2407\r\n24,male,23.4,0,no,southwest,1969.614\r\n20,male,29.735,0,no,northwest,1769.53165\r\n32,male,46.53,2,no,southeast,4686.3887\r\n59,male,37.4,0,no,southwest,21797.0004\r\n55,female,30.14,2,no,southeast,11881.9696\r\n57,female,30.495,0,no,northwest,11

In [6]:
df=pd.read_csv("insurance.csv - insurance.csv.csv")

In [7]:
df.head()#Display the first 5 column of insuarance data.

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
df1=df.copy()   #Copying insurance dataset for further use.
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()
df6=df.copy()
df7=df.copy()
df8=df.copy()
df9=df.copy()

In [9]:
df.shape #Display the number of rows and columns of insurance dataset.

(1338, 7)

Missing Value Handling!

In [10]:
df.isnull().sum()  #Checking the missing value in this dataset.

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
df.info()  #We can check missig value by this comment.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

There is no missing value in this insurance dataset.
If we had any missing value we had to fix it.

# Encoding
## Label Encoding

In [12]:
from sklearn.preprocessing import LabelEncoder #Importing labelencoder from sklearn preprocessing.

In [13]:
le=LabelEncoder() #Assigning label encoder as le.

In [14]:
le

LabelEncoder()

In [15]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Applying label encoding technique on "region" categorical variable.

In [171]:
df.region=le.fit_transform(dff[["region"]])#Fit the label encoder and transform region column.

In [172]:
df.head()#Display the top 5 values of the transformed data.

   age     sex     bmi  children smoker  region      charges
0   19  female  27.900         0    yes       3  16884.92400
1   18    male  33.770         1     no       2   1725.55230
2   28    male  33.000         3     no       2   4449.46200
3   33    male  22.705         0     no       1  21984.47061
4   32    male  28.880         0     no       1   3866.85520

In [18]:
df[0:20]

    age     sex     bmi  children smoker  region      charges
0    19  female  27.900         0    yes       3  16884.92400
1    18    male  33.770         1     no       2   1725.55230
2    28    male  33.000         3     no       2   4449.46200
3    33    male  22.705         0     no       1  21984.47061
4    32    male  28.880         0     no       1   3866.85520
5    31  female  25.740         0     no       2   3756.62160
6    46  female  33.440         1     no       2   8240.58960
7    37  female  27.740         3     no       1   7281.50560
8    37    male  29.830         2     no       0   6406.41070
9    60  female  25.840         0     no       1  28923.13692
10   25    male  26.220         0     no       0   2721.32080
11   62  female  26.290         0    yes       2  27808.72510
12   23    male  34.400         0     no       3   1826.84300
13   56  female  39.820         0     no       2  11090.71780
14   27    male  42.130         0    yes       2  39611.75770
15   19    male  24.600         1     no       3   1837.23700
16   52  female  30.780         1     no       0  10797.33620
17   23    male  23.845         0     no       0   2395.17155
18   56    male  40.300         0     no       3  10602.38500
19   30    male  35.300         0    yes       3  36837.46700

In [19]:
#Using loop for applying label encoding on various columns together.

In [20]:
df5.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
df5.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [27]:
from pandas.core.dtypes.api import is_numeric_dtype #Import data type from pandas.

In [28]:
for i in df5.columns:
    if is_numeric_dtype(df5[i]):
        continue
    df5[i]=le.fit_transform(df5[i])

In [31]:
df5.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [33]:
#Another way to execute for encoding categorical variable.

In [34]:
df6.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [35]:
df6.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [39]:
for i in df6.columns:
    if df6[i].dtype==np.number:
        continue
    else:
        df6[i] = le.fit_transform(df6[i])

In [40]:
df6.head()

   age  sex     bmi  children  smoker  region      charges
0    1    0  27.900         0       1       3  16884.92400
1    0    1  33.770         1       0       2   1725.55230
2   10    1  33.000         3       0       2   4449.46200
3   15    1  22.705         0       0       1  21984.47061
4   14    1  28.880         0       0       1   3866.85520

## One Hot Encoding

In [26]:
df2.nunique()#Checking the unique value of each variable.

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

In [43]:
dummy=pd.get_dummies(df2["region"])   #Creating dummy vairble from pandas.

In [42]:
dummy.head()

   northeast  northwest  southeast  southwest
0          0          0          0          1
1          0          0          1          0
2          0          0          1          0
3          0          1          0          0
4          0          1          0          0

In [44]:
dummy=pd.get_dummies(df2["region"],drop_first=True) #Droping first column from dummies!

In [45]:
dummy.head()

   northwest  southeast  southwest
0          0          0          1
1          0          1          0
2          0          1          0
3          1          0          0
4          1          0          0

In [46]:
df2=df2.drop("region",axis=1)#Deleting region column from the dataset.

In [47]:
df2.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [48]:
dff=pd.concat([df2,dummy],axis=1)#Adding the dummy variable df2 dataset.

In [49]:
dff.head()

,age,sex,bmi,children,smoker,charges,northwest,southeast,southwest
0,19,female,27.900,0,yes,16884.92400,0,0,1
1,18,male,33.770,1,no,1725.55230,0,1,0
2,28,male,33.000,3,no,4449.46200,0,1,0
3,33,male,22.705,0,no,21984.47061,1,0,0
4,32,male,28.880,0,no,3866.85520,1,0,0

In [50]:
#Now Executing a loop for encoding all the categorical variables.

In [51]:
#First of all check the columns name of the dataset.

In [52]:
df3.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [64]:
#  from pandas.core.dtypes.api import is_numeric_dtype
# We already run this code before.

In [77]:
for i in df3.columns:
  if is_numeric_dtype(df3[i]):
    continue
  else:
   dummy=pd.get_dummies(df3[i],drop_first=True)
   df3.drop("i",axis=1, inplace=True)
   df3=pd.concat([df3,dummy],axis=1)

In [78]:
df3.head() #Now display the one head encoded data of previous dataset.

,age,bmi,children,charges,male,yes,northwest,southeast,southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

In [69]:
#Try one hat encoding manually on sex column.
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [85]:
dummy=pd.get_dummies(df4["sex"],drop_first=True)

In [86]:
dummy.head()

   male
0     0
1     1
2     1
3     1
4     1

In [87]:
df4=df4.drop("sex",axis=1)

In [88]:
df4.head()

   age     bmi  children smoker     region      charges
0   19  27.900         0    yes  southwest  16884.92400
1   18  33.770         1     no  southeast   1725.55230
2   28  33.000         3     no  southeast   4449.46200
3   33  22.705         0     no  northwest  21984.47061
4   32  28.880         0     no  northwest   3866.85520

In [89]:
dfff=pd.concat([df4,dummy],axis=1)

In [90]:
dfff.head()

   age     bmi  children smoker     region      charges  male
0   19  27.900         0    yes  southwest  16884.92400     0
1   18  33.770         1     no  southeast   1725.55230     1
2   28  33.000         3     no  southeast   4449.46200     1
3   33  22.705         0     no  northwest  21984.47061     1
4   32  28.880         0     no  northwest   3866.85520     1

## Ordinal Encoding

In [92]:
#We are applying ordinal encoding on same data
#Display the first top 5 rows of previous insurance data.
df7.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [93]:
#Importing ordinal encoder from

from sklearn.preprocessing import OrdinalEncoder

In [94]:
oe=OrdinalEncoder()

In [95]:
oe

OrdinalEncoder()

In [106]:
df8.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [107]:
#Manually encoding each column one by one simultaneously.
df8.sex=oe.fit_transform(df8[["sex"]])

In [108]:
df8.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    yes  southwest  16884.92400
1   18  1.0  33.770         1     no  southeast   1725.55230
2   28  1.0  33.000         3     no  southeast   4449.46200
3   33  1.0  22.705         0     no  northwest  21984.47061
4   32  1.0  28.880         0     no  northwest   3866.85520

In [109]:
df8.region=oe.fit_transform(df8[["region"]])

In [110]:
df8.head()

   age  sex     bmi  children smoker  region      charges
0   19  0.0  27.900         0    yes     3.0  16884.92400
1   18  1.0  33.770         1     no     2.0   1725.55230
2   28  1.0  33.000         3     no     2.0   4449.46200
3   33  1.0  22.705         0     no     1.0  21984.47061
4   32  1.0  28.880         0     no     1.0   3866.85520

In [111]:
df8.smoker=oe.fit_transform(df8[["smoker"]])

In [112]:
df8.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     1.0     3.0  16884.92400
1   18  1.0  33.770         1     0.0     2.0   1725.55230
2   28  1.0  33.000         3     0.0     2.0   4449.46200
3   33  1.0  22.705         0     0.0     1.0  21984.47061
4   32  1.0  28.880         0     0.0     1.0   3866.85520

Here all the categorical variable are encoded by ordinal encoder.

In [117]:
#Now we are going to do this job in one loop 
#instead of writing same code again and again.
dff=df9.copy()
dffff=df9.copy()#Copying previous dataset for further use.

In [118]:
df9.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [121]:
df9.columns #Checking all the columns of insurance dataset.

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [123]:
for i in df9.columns:
  if is_numeric_dtype(df9[i]):
    continue
  else:
    df9[i]=oe.fit_transform(df9[[i]])

In [124]:
df9.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     1.0     3.0  16884.92400
1   18  1.0  33.770         1     0.0     2.0   1725.55230
2   28  1.0  33.000         3     0.0     2.0   4449.46200
3   33  1.0  22.705         0     0.0     1.0  21984.47061
4   32  1.0  28.880         0     0.0     1.0   3866.85520

Here we get all the encoded column together.

# Mean Encoder or Target Encoder

In [149]:
#First of all importing mean encoder from sklearn preprocessing.
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)

In [150]:
from category_encoders import TargetEncoder

In [159]:
#Applying targert encoder on previous dataset.
dff.head()

,age,sex,bmi,children,smoker,region,charges,sex,smoker
0,19,female,27.900,0,yes,southwest,16884.92400,1.074018,1.113139
1,18,male,33.770,1,no,southeast,1725.55230,1.115385,1.090226
2,28,male,33.000,3,no,southeast,4449.46200,1.115385,1.090226
3,33,male,22.705,0,no,northwest,21984.47061,1.115385,1.090226
4,32,male,28.880,0,no,northwest,3866.85520,1.115385,1.090226

In [160]:
te=TargetEncoder()

In [161]:
te

TargetEncoder()

In [167]:
te.fit(x=dff[["smoker"]],y=dff[["children"]])

TypeError: ignored