<a href="https://colab.research.google.com/github/00akram/Python-Basics/blob/main/Assignment_5_Feature_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

In [ ]:
upld=files.upload() #Upload a csv file for feature transformation.

Saving supershops.csv - supershops.csv.csv to supershops.csv - supershops.csv (1).csv

In [ ]:
df=pd.read_csv("supershops.csv - supershops.csv.csv") #Read the csv file.

In [ ]:
df.head() #Look the top 5 rows of this data.

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [ ]:
dff=df.copy() #Copy this data 4 times for further use.
dfff=df.copy()
dfff=df.copy()
dffff=df.copy()

In [ ]:
df.shape #Look the no. of rows and columns of this data.

(50, 5)

# Normalization(Minmaxscalling)

In [ ]:
from sklearn.preprocessing import MinMaxScaler  #Import minmaxscalar for normalization from sklearn.

In [ ]:
minmax=MinMaxScaler(feature_range=(0,1))

In [ ]:
normal=minmax.fit(df[["Marketing Spend"]]) #Calculate and fit the feature.

In [ ]:
df["Marketing Spend"]=minmax.transform(df[["Marketing Spend"]])#Transform the feature.

In [ ]:
df.head() #Display the data with transformed feature.

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

Normalization for Administration.

In [ ]:
minmax.fit(df[["Administration"]])

MinMaxScaler()

In [ ]:
df["Administration"]=minmax.transform(df[["Administration"]])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744  471784.10    Dhaka  192261.83
1         0.983359        0.761972  443898.53      Ctg  191792.06
2         0.927985        0.379579  407934.54  Rangpur  191050.39
3         0.873136        0.512998  383199.62    Dhaka  182901.99
4         0.859438        0.305328  366168.42  Rangpur  166187.94

Normalization For Transport

In [ ]:
df["Transport"]=minmax.fit_transform(df[["Transport"]])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

Normalization for Profit

In [ ]:
df["Profit"]=minmax.fit_transform(df[["Profit"]])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

## Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler #Import standardscalar for standardization.

In [ ]:
scalar=StandardScaler()

In [ ]:
scalar

StandardScaler()

In [ ]:
dff.head() # Display the untransformed data.

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [ ]:
scalar.fit(dff[["Transport"]])#Fit and computation.

StandardScaler()

In [ ]:
dff["Transport"]=scalar.transform(dff[["Transport"]])#Transform the feature.

In [ ]:
dff.head()# Display the transformed feature.

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80   2.165287    Dhaka  192261.83
1        162597.70       151377.59   1.929843      Ctg  191792.06
2        153441.51       101145.55   1.626191  Rangpur  191050.39
3        144372.41       118671.85   1.417348    Dhaka  182901.99
4        142107.34        91391.77   1.273550  Rangpur  166187.94

Standardization for Marketing Spend feature!

In [ ]:
dff["Marketing Spend"]=scalar.fit_transform(dff[["Marketing Spend"]])#Transformed marketing spend feature.

In [ ]:
dff.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913       136897.80   2.165287    Dhaka  192261.83
1         1.955860       151377.59   1.929843      Ctg  191792.06
2         1.754364       101145.55   1.626191  Rangpur  191050.39
3         1.554784       118671.85   1.417348    Dhaka  182901.99
4         1.504937        91391.77   1.273550  Rangpur  166187.94

Standardization for Administration!

In [ ]:
dff["Administration"]=scalar.fit_transform(dff[["Administration"]]) #Transform administration feature.

In [ ]:
dff.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

Standardization for profit.

In [ ]:
dff["Profit"]=scalar.fit_transform(dff[["Profit"]]) #Transform profit feature.

In [ ]:
dff.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

### Feature Transformation with Max Absolute Error.

In [ ]:
from sklearn.preprocessing import MaxAbsScaler #Import maxabscaler for feature transformation .

In [ ]:
maxscal=MaxAbsScaler()

In [ ]:
maxscal

MaxAbsScaler()

In [ ]:
dfff.head() #Display the previous data.

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

Max Absolute Transform for Marketing Spend Feature.

In [ ]:
dfff["Marketing Spend"]=maxscal.fit_transform(dfff[["Marketing Spend"]])#Fit and transform the marketing spend feature.

In [ ]:
dfff.head()#Display the transformed feature.

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

Max Absolute Transform for Marketing Spend Feature.

In [ ]:
dfff["Administration"]=maxscal.fit_transform(dfff[["Administration"]])

In [ ]:
dff.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

Max Absolute Transform for Marketing Spend Feature.

In [ ]:
dfff["Transport"]=maxscal.fit_transform(dfff[["Transport"]])

In [ ]:
dff.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

Max Absolute Transform for Marketing Spend Feature.

In [ ]:
dfff["Profit"]=maxscal.fit_transform(dfff[["Profit"]])

In [ ]:
dff.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

## Feature Transformation with Robust Scalar.

In [ ]:
from sklearn.preprocessing import RobustScaler #Import robustscaler for feature transformation.

In [ ]:
rb=RobustScaler()

In [ ]:
rb

RobustScaler()

In [ ]:
dfff.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383

RobustScalling for Marketing Spend.

In [ ]:
dffff["Marketing Spend"]=rb.fit_transform(dfff[["Marketing Spend"]])#Fit and transform the marketing spend feature.

In [ ]:
dffff.head()#Dispaly the transformed feature.

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80  471784.10    Dhaka  192261.83
1         1.452113       151377.59  443898.53      Ctg  191792.06
2         1.303634       101145.55  407934.54  Rangpur  191050.39
3         1.156567       118671.85  383199.62    Dhaka  182901.99
4         1.119836        91391.77  366168.42  Rangpur  166187.94

RobustScalling for Administration.

In [ ]:
dffff["Administration"]=rb.fit_transform(dfff[["Administration"]])

In [ ]:
dffff.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355  471784.10    Dhaka  192261.83
1         1.452113        0.697565  443898.53      Ctg  191792.06
2         1.303634       -0.524290  407934.54  Rangpur  191050.39
3         1.156567       -0.097977  383199.62    Dhaka  182901.99
4         1.119836       -0.761543  366168.42  Rangpur  166187.94

RobustScalling for Transport.

In [ ]:
dffff["Transport"]=rb.fit_transform(dfff[["Transport"]])

In [ ]:
dffff.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

RobustScalling for Profit.

In [ ]:
dffff["Marketing Profit"]=rb.fit_transform(dfff[["Profit"]])

In [ ]:
dffff.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing Profit
0,0.672530,0.345355,1.552016,Dhaka,192261.83,1.698340
1,1.452113,0.697565,1.383714,Ctg,191792.06,1.688874
2,1.303634,-0.524290,1.166654,Rangpur,191050.39,1.673929
3,1.156567,-0.097977,1.017368,Dhaka,182901.99,1.509736
4,1.119836,-0.761543,0.914576,Rangpur,166187.94,1.172943